{% extends "base.html" %}

{% block content %}
<br>
<img src="{{ url_for('static', filename='logo_4_transparent.png') }}" class="icon" />
<h3>Cre<span class="highlight">AI</span>te</h3>
<form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter an image concept" required />
    <div class="selects">
        <select name="resolution" required>
            <option value="256x256">256x256</option>
            <option value="512x512">512x512</option>
            <option value="1024x1024">1024x1024</option>
        </select>
        <select name="count"required>
            <option value="1">1 Photo</option>
            <option value="2">2 Photos</option>
            <option value="3">3 Photos</option>
            <option value="4">4 Photos</option>
        </select>
    </div>
    <input type="submit" value="Generate Image" />
</form>
<br>
<div class="photos">
    {% if image_url_0 %}
    <img src="{{ image_url_0 }}" class="photo" width=pic_size height=pic_size onclick="selectPhoto(this)" alt="Variation 1">
    {% endif %}
    {% if image_url_1 %}
    <img src="{{ image_url_1 }}" class="photo" width=pic_size height=pic_size onclick="selectPhoto(this)" alt="Variation 2">
    {% endif %}
    {% if image_url_2 %}
    <img src="{{ image_url_2 }}" class="photo" width=pic_size height=pic_size onclick="selectPhoto(this)" alt="Variation 3">
    {% endif %}
    {% if image_url_3 %}
    <img src="{{ image_url_3 }}" class="photo" width=pic_size height=pic_size onclick="selectPhoto(this)" alt="Variation 4">
    {% endif %}
</div>
{% if image_url_0 or image_url_1 or image_url_2 or image_url_3 %}
<br>
<form action="/publish" method="post">
<input type="submit" value="Publish" class="publish-btn">
<input type="hidden" name="image_url" id="image_url" value="">
</form>
{% endif %}
{% if result %}
<div class="result">{{ result }}</div>
{% endif %}

<script>
  let photoSelected = false;
  function selectPhoto(photo) {
    var previouslySelected = document.getElementsByClassName("selected")[0];
    if (previouslySelected) {
        previouslySelected.classList.remove("selected");
    }
    photo.classList.add("selected");
    // code to handle the selected photo
    photoSelected = true;
    document.getElementById("image_url").value = photo.src;
    document.getElementById("publish-form").style.display = "block";
  }
</script>

<script>
    let submitBtn = document.querySelector(".publish-btn");
    submitBtn.addEventListener("click", function(event) {
    if (!photoSelected) {
      event.preventDefault();
      alert("Please select a photo before submitting");
    }
    });
</script>
{% endblock %}

<!--{#  </br>#}-->
<!--{#  </br>#}-->
<!--{#  <h3>Image Edit with Prompt</h3>#}-->
<!--{#  <form action="/edit" method="post" enctype="multipart/form-data">#}-->
<!--{#      <input type="file" name="file" accept=".png">#}-->
<!--{#      <input type="text" name="animal" placeholder="Enter an image edit" required />#}-->
<!--{#      <input type="submit" value="Upload Image">#}-->
<!--{#  </form>#}-->
<!--{#  </br>#}-->
<!--{#  </br>#}-->
<!--{#  <h3>Image Variation</h3>#}-->
<!--{#  <form action="/variation" method="post" enctype="multipart/form-data">#}-->
<!--{#      <input type="file" name="file" accept=".png">#}-->
<!--{#      <input type="submit" value="Upload Image">#}-->
<!--{#  </form>#}-->
