@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background: #121212;
}
.icon {
  width: 256px;
}
.highlight {
  color: #10a37f;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 16px 0 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0f8e6e;
  color: #121212;
}
select {
  background-color: #f2f2f2;
  font-size: 16px;
  color: #121212;
  width: 155px;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15px;
}
input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #10a37f;
  border-radius: 4px;
  background-color: #f2f2f2;
}
button[type="submit"] {
  width: 100%;
  background-color: #10a37f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-group {
  margin-bottom: 20px;
}
.login-button {
  background-color: #10a37f;
  color: white;
  padding: 3px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 10px;
}
.login-button:hover {
  background-color: #40c9a7;
  color: #121212;
}
.selects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.result {
  font-weight: bold;
  margin-top: 40px;
}
.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.photo {
  margin: 16px;
  border: 2px solid #fff;
  /* Add some hover effect */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.photo:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .photo {
    margin-bottom: 5px;
    width: 254px;
    height: 254px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #ffffff;
  }
  input {
    color: #121212;
    background: #202020;
  }
  form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #121212;
  border-radius: 4px;
  }
  label {
  color: #ffffff;
  font-weight: bold;
  }
  .sign-up{
    padding: 3px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
  }
  .sign-up:visited{
    color: #ffffff;
  }
  .sign-up:hover{
    color: #10a37f;
  }
  .photo {
    margin: 16px;
    border: 1px solid #fff;
    /* Add some hover effect */
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  /* Add a class for the selected photo */
  .selected {
    position: relative;
    border: 1px solid #087c5f;
  }
  .home{
    padding: 3px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
  }
  .home:visited{
      color: #ffffff;
  }
  .home:hover{
      color: #10a37f;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: #fafafa;
    color: #121212;
  }
  input {
    color: #121212;
    background: #ffffff;
  }
  h3 {
    color: #121212;
  }
  form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 4px;
  }
  label {
  color: #121212;
  font-weight: bold;
  }
  .sign-up{
    padding: 3px 15px;
    color: #121212;
    text-decoration: none;
    font-size: 10px;
  }
  .sign-up:visited{
      color: #121212;
  }
  .sign-up:hover{
      color: #10a37f;
  }
  .photo {
    margin: 16px;
    border: 1px solid #121212;
    /* Add some hover effect */
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  /* Add a class for the selected photo */
  .selected {
    position: relative;
    border: 1px solid #087c5f;
  }
  .home{
    padding: 3px 15px;
    color: #121212;
    text-decoration: none;
    font-size: 10px;
  }
  .home:visited{
      color: #121212;
  }
  .home:hover{
      color: #10a37f;
  }
}

#container {
    overflow:hidden;
    position:relative;
}
#hideMe {
    -webkit-animation: cssAnimation 2s forwards;
    animation: cssAnimation 2s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    60%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    60%  {opacity: 1;}
    100% {opacity: 0;}
}

